target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
spring-boot-xd.iml
.idea/
httpclient-factory/httpclient-factory.iml
spring-boot-web/spring-boot-web.iml
xd-source-get/xd-source-get.iml
xd-streams/xd-streams.iml